<form [formGroup]="calculatorForm" (ngSubmit)="calculateLoan()">
    <label for="monthly-income-input">Monthly income:</label>
    <input id="monthly-income-input" type="text" formControlName="monthlyIncomeControl" placeholder="Min. {{minMonthlyIncome}}" />

    <label for="requested-amount-input">Requested amount:</label>
    <input id=" requested-amount-input" placeholder="Min. {{minRequestedAmount}}" type="text" formControlName="requestedAmountControl" />

    <label for="loan-term-input">Loan term: {{calculatorForm.controls["loanTermControl"].value}} years</label>
    <input id="loan-term-input" type="range" min="{{minLoanTerm}}" max="{{maxLoanTerm}}" step="1" formControlName="loanTermControl" />
    <fieldset>
        <legend>Children:</legend>
        <ng-container *ngFor="let childrenType of childrenFormTypes">
            <input id="children-{{childrenType}}" value="{{childrenType}}" type="radio" formControlName="childrenControl" />
            <label for="children-{{childrenType}}">{{getChildrenTypeLabel(childrenType)}}</label>
        </ng-container>
    </fieldset>

    <fieldset>
        <legend>Coapplicant:</legend>
        <ng-container *ngFor="let coapplicantType of coapplicantFormTypes">
            <input id="children-{{coapplicantType}}" value="{{coapplicantType}}" type="radio" formControlName="coapplicantControl" />
            <label for="children-{{coapplicantType}}">{{getCoapplicantTypeLabel(coapplicantType)}}</label>
        </ng-container>
    </fieldset>

    <button type="submit" [disabled]="!calculatorForm.valid">Calculate</button>
</form>